@import url("./fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Axiforma',sans-serif;
}


.swiper-button-next,
.swiper-button-prev {
    color: #FAB758;
    border: 1px solid #FAB758;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

/* Mengubah warna tombol panah saat di-hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #FAB758;
    border: 1px solid #FAB758;
    color: white; /* Ganti dengan warna yang Anda inginkan saat di-hover */
}


